# 파이썬 기초 정규강의 1회차 복습
## 자료 형태
### 1.1 boolean
### 1.2 숫자 vs 문자
### 1.3 변수
### 1.4 문자열
### 1.5 리스트
### 1.6딕셔너리
### 1.7 제어문
### 1.8 함수

## 판다스 사용법
### 판다스 사용버 및 응용

In [8]:
# boolean = 불리언 자료형 == 논리형 자료형
True==1
False==0
True & False
True | False
# True = 1 / False = 0
# & 시 둘 다 True여야만 True, 아니면 False
# | 시 둘 중 하나라도 True 시 True, 둘 다 False여야 False

True

In [10]:
print(type(1), type("1"))
#따옴표 사이에 숫자를 입력할 경우 문자형으로 입력되므로, 자료를 어떤 형태로 쓸 지 잘 확인 한 후 작성할 것

<class 'int'> <class 'str'>

In [12]:
a = 1

In [18]:
a = a+1
a
#변수 지정 후 동일한 변수에 어떠한 연산도 가능하지만 실행에 따라 값이 지속적으로 변하므로
#가능한 다른 변수명으로 값을 지정하여 사용하는 것이 문제 방지 차원에서 효과적임

7

In [19]:
til= "Today I learned"
til

'Today I learned'

In [199]:
til.capitalize() # 첫번째 문자만 대문자 나머진 소문자
til.lower() # 모든 문자를 소문자화
til.upper() #모든 문자를 대문자화

AttributeError: 'str' object has no attribute 'str'

In [23]:
address = " 서울시 강남구 역삼동 강남대로94길 15 S2빌딩 3층 "
address

' 서울시 강남구 역삼동 강남대로94길 15 S2빌딩 3층 '

In [25]:
address = address.strip() #문자의 좌우 공백, 특수문자 등을 제거
address

'서울시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [27]:
address[1] #인덱싱
len(address) #문자열 길이 확인
address[0:10] #슬라이싱

'서울시 강남구 역삼'

In [45]:
medicine = ["소화제","감기약","비타민"] #리스트 형태로 자료 생성
medicine

['소화제', '감기약', '비타민']

In [46]:
medicine.append("마그네슘") # 원소 추가
medicine

['소화제', '감기약', '비타민', '마그네슘']

In [47]:
medicine.remove("마그네슘") # 원소 제거
medicine

['소화제', '감기약', '비타민']

In [48]:
medicine[-1] #리스트 인덱싱

'비타민'

In [51]:
medicine[0:2] #리스트 슬라이싱

['소화제', '감기약']

In [57]:
#문자열 인덱싱
address[0:7]

'서울시 강남구'

In [59]:
address.startswith("서울시 강남구")
#문자열이 특정 문자로 시작되는지 확인
#실제 업무에서 자료에 행정구 컬럼을 추가 시 유용하게 활용 가능

True

In [61]:
"서울" in address
#특정 문자열이 포함되어 있는지 확인

True

In [63]:
address_list = address.split()
address_list

['서울시', '강남구', '역삼동', '강남대로94길', '15', 'S2빌딩', '3층']

In [66]:
#split한 문자열을 다시 합치기
" ".join(address_list) # 따옴표 안에 기입한 문자가 구분자로 되어 리스트의 문자를 합쳐줌

'서울시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [67]:
#딕셔너리 타입
phone = {'서울' : '02',
         '경기': '031',
         '인천': '032',
         '대전': '042',
         '부산': '051',
         '울산': '052',
         '대구': '053',
         '광주': '062'}
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062'}

In [69]:
#서울시의 지역번호 가져오기
phone["서울"]

'02'

In [71]:
#제주시를 딕셔너리에 추가
phone["제주"] = "063"
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062',
 '제주': '063'}

In [77]:
#제어문
for i in phone:
    print(f'{i} : {phone[i]}')

서울 : 02
경기 : 031
인천 : 032
대전 : 042
부산 : 051
울산 : 052
대구 : 053
광주 : 062
제주 : 063

In [89]:
#while문
i = 0
while i <= 10:
    print(f'i = {i**2}')
    i = i+1

i = 0
i = 1
i = 4
i = 9
i = 16
i = 25
i = 36
i = 49
i = 64
i = 81
i = 100

In [90]:
store = ["서울역점", "강남점", "마포점", "여의도점"]
store

['서울역점', '강남점', '마포점', '여의도점']

In [92]:
#store를 인덱스 번호와 함께 출력
for loc in enumerate(store):
    print(loc)

(0, '서울역점')
(1, '강남점')
(2, '마포점')
(3, '여의도점')

In [94]:
#enumerate에서 인덱스 번호와 원소명을 따로 저장하여 출력
for i,loc in enumerate(store):
    print(i,loc)

0 서울역점
1 강남점
2 마포점
3 여의도점

In [103]:
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
phone_split = phone.split(">")
phone_split

['',
 '경기 031 ',
 '강원 033 ',
 '충남 041 ',
 '충북 043 ',
 '경북 054 ',
 '경남 055 ',
 '전남 061 ',
 '전북 063']

# 과제

In [121]:
#딕셔너리 형태로 만들기
phone_dic = {}
for i in phone_split:
    key_value=i.split()
    if len(key_value) >=2:
        phone_dic[key_value[0]] = key_value[1]
phone_dic

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

In [125]:
date = "2020.02.02"

In [126]:
def parse_month(date):
    """월을 반환하는 함수"""
    month = date.split(".")[1]
    return month

In [127]:
parse_month(date)

'02'

In [128]:
import pandas as pd
import numpy as np

In [214]:
df = pd.DataFrame()
df["약품명"]= ["소화제", "감기약", "비타민", 
             "digestive", "Omega3", "오메가3", 
             "vitamin", "Vitamin"]
df

         약품명
0        소화제
1        감기약
2        비타민
3  digestive
4     Omega3
5       오메가3
6    vitamin
7    Vitamin

In [215]:
df["가격"] = 3500
df

         약품명    가격
0        소화제  3500
1        감기약  3500
2        비타민  3500
3  digestive  3500
4     Omega3  3500
5       오메가3  3500
6    vitamin  3500
7    Vitamin  3500

In [216]:
df["가격"].tolist() #리스트 형태로 만들기

[3500, 3500, 3500, 3500, 3500, 3500, 3500, 3500]

In [217]:
df["가격"] = [3500, 3200, 4000, 3200, 3700, np.nan, 2000, 1000]
df

         약품명      가격
0        소화제  3500.0
1        감기약  3200.0
2        비타민  4000.0
3  digestive  3200.0
4     Omega3  3700.0
5       오메가3     NaN
6    vitamin  2000.0
7    Vitamin  1000.0

In [218]:
type(np.nan)

float

In [219]:
df["지역"] = "서울"
df["지역2"] = "서울"
df

         약품명      가격  지역 지역2
0        소화제  3500.0  서울  서울
1        감기약  3200.0  서울  서울
2        비타민  4000.0  서울  서울
3  digestive  3200.0  서울  서울
4     Omega3  3700.0  서울  서울
5       오메가3     NaN  서울  서울
6    vitamin  2000.0  서울  서울
7    Vitamin  1000.0  서울  서울

In [220]:
df = df.drop(columns = "지역2")
#df.drop("지역2", axis = 1) 둘다 동일함
df

         약품명      가격  지역
0        소화제  3500.0  서울
1        감기약  3200.0  서울
2        비타민  4000.0  서울
3  digestive  3200.0  서울
4     Omega3  3700.0  서울
5       오메가3     NaN  서울
6    vitamin  2000.0  서울
7    Vitamin  1000.0  서울

In [221]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약품명     8 non-null      object
 1   가격      7 non-null      float64
 2   지역      8 non-null      object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [222]:
df.describe()

                가격
count     7.000000
mean   2942.857143
std    1064.357620
min    1000.000000
25%    2600.000000
50%    3200.000000
75%    3600.000000
max    4000.000000

In [223]:
df.describe(include = np.object)

              약품명  지역
count           8   8
unique          8   1
top     digestive  서울
freq            1   8

In [224]:
df.loc[1,"약품명"]
#%timeit df.loc[1,"약품명"] #작업시간 확인

'감기약'

In [225]:
#특정 문자가 포함된 데이터만 가져오기
df[df["약품명"].str.contains("소화|vit")]

       약품명      가격  지역
0      소화제  3500.0  서울
6  vitamin  2000.0  서울

In [226]:
df["약품명_lower"] = df["약품명"].str.lower() #데이터프레임은 데이터를 string화 한 다음에 대소문자 변환이 가능함
df

         약품명      가격  지역  약품명_lower
0        소화제  3500.0  서울        소화제
1        감기약  3200.0  서울        감기약
2        비타민  4000.0  서울        비타민
3  digestive  3200.0  서울  digestive
4     Omega3  3700.0  서울     omega3
5       오메가3     NaN  서울       오메가3
6    vitamin  2000.0  서울    vitamin
7    Vitamin  1000.0  서울    vitamin

In [227]:
df[df["약품명_lower"].str.contains("소화|vit")]

       약품명      가격  지역 약품명_lower
0      소화제  3500.0  서울       소화제
6  vitamin  2000.0  서울   vitamin
7  Vitamin  1000.0  서울   vitamin

In [228]:
df[df["가격"]>3500]

      약품명      가격  지역 약품명_lower
2     비타민  4000.0  서울       비타민
4  Omega3  3700.0  서울    omega3

In [229]:
df.sort_values(["가격","약품명"],ascending = [False,True])

         약품명      가격  지역  약품명_lower
2        비타민  4000.0  서울        비타민
4     Omega3  3700.0  서울     omega3
0        소화제  3500.0  서울        소화제
3  digestive  3200.0  서울  digestive
1        감기약  3200.0  서울        감기약
6    vitamin  2000.0  서울    vitamin
7    Vitamin  1000.0  서울    vitamin
5       오메가3     NaN  서울       오메가3